* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Times, "Times New Roman", Georgia, serif;
}

.log {
    padding-top: 100px;
    width: 100%;
    text-align: center;
    position: relative;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background: none;
}

.box {
    width: 100%;
    padding: 10px 50px 0 50px;
    border: 2px black;
    background-color: lightblue;
    opacity: 0.7;
    position: relative;
    min-height: 75vh;
    display: block;
    border-radius: 40px;
}

.log h2 {
    margin-top: 10px;
    font-size: 40px;
    color: #00000;
    font-weight: 1000;
    text-decoration: underline;
}

.log .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
    padding-right: 2.5rem;
}

.log .inputBox input[type="submit"] {
    width: 50%;
    background: black;
    color: #fff;
    border-radius: 15px;
    border: 2px black;
    cursor: pointer;
    padding: 1rem;
    font-size: 20px;
    margin: 1rem;
    justify-content: center;
}

.log .add {
    color: #fff;
    font-size: 1rem;
    text-align: left;
}

.log .add h3 {
    color: #fff;
}

.add {
    font-size: 24px;
    color: #000000;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.banner {
    width: 100%;
    height: 100vh;
}

.logo {
    margin-left: 20px;
    width: 80px;
    border-radius: 50%;
    cursor: pointer;
}

.content {
    width: 100%;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}

.content h1 {
    font-size: 60px;
    color: #009688;
    margin-top: 80px;
}

.content p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #000000;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span {
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span {
    width: 100%;
}

button:hover {
    border: none;
    transform: scale(1.15);
}

.navbar {
    width: 95%;
    margin: 2px;
    margin-top: 0;
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner {
    width: 100%;
    height: 100vh;
}

.logo {
    width: 80px;
    border-radius: 50%;
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}